.select-user {
  font-family: "Source Sans 3", sans-serif;
  padding: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .select-user {
    font-size: 14px;
  }
}