.card-button {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: start;
  transition: background-color .3s;
}

.card-button:hover {
  background-color: rgba(255, 255, 255, 0.10);
}