.journal-item__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Source Sans 3", sans-serif;
}

.journal-item__title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.journal-item__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.journal-item__info {
  display: flex;
  gap: 10px;
}

.journal-item__date {
  color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.journal-item__tag {
  color: rgba(255, 255, 255, 0.40);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.journal-item__text {
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .journal-item__title {
    font-size: 16px;
    line-height: 26px;
  }

  .journal-item__date {
    font-size: 14px;
  }

  .journal-item__text {
    font-size: 14px;
  }
}